ul{
    list-style: none;
    display: flex;
}
#first-ul{
    display: flex;
    justify-content: flex-end;
}
.gen-div{
    text-align: center;
    padding: 10%;
}
#search{
    margin-top: 10%;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid rgb(226, 207, 176);
    width: 60%;
    background: rgb(233, 213, 213);
    transform: translateZ(0);
    translate: transform ease-out (0.4s);
}
#search:hover{
    background-color: transparent;
    box-shadow: rgb(240, 233, 233) 3px 3px 3px 3px;
    translate: scale(1.04s);
    
}
.gs{
    margin-top: 30px;
    border: none;
    padding: 10px 15px;
    transform: translateZ(0);
    translate: transform ease-out (0.4s);
}
.gs:hover{
    translate: scale(1.04s);
    box-shadow: rgb(240, 233, 233) 3px 3px 3px 3px;
}
.g{
    border: none;
    border-radius: 50%;
    padding: 6px;
    margin-right: 20px;
    background-color: rgb(165, 89, 194);
}
.lang{
    color: blue;
}
.ja{
    margin-left: 40px;
}
.wrap-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    margin-right: 10px;
}
span{
    color: white;
}
footer{
    background-color: rgb(239, 227, 227);
}
#copy{
    background-color: darkgrey;
    padding: 5px;
}